/* Paletton : http://paletton.com/palette.php?uid=3421d0ktgdhiso5o3itAS8ANk4u */

/* NOTE BLEU COOL 1D84A6 */

@font-face {
    font-family: "hammock-rough";
    src: url(fonts/HAMMOCK-Rough_Home.otf) format("truetype");
}

@font-face {
    font-family: "polya";
    src: url(fonts/POLYA.otf) format("truetype");
}

html {
    background-color: white;
    /* color:#545454; */
    font-family: Karla;
}

nav {
    background-color: #474486;
}

.sidenav {
    background-color: #474486;
    width: 225px;
}

.sidenav li>a, .sidenav li>a>i {
    color: white!important;
}

.brand-logo {
    padding-left: 15px!important;
    font-family: "hammock-rough";
    font-size: 80px!important;
    bottom: 15px;
}

@media only screen and (min-width: 992px) {
    #about-section {
        min-height: 600px;
    }
}

@media only screen and (max-width: 992px) {
    #about-section {
        min-height: 300px;
    }
}

#about-section .container {
    padding-top: 40px;
}

@media only screen and (max-width: 992px) {
    #about-title {
        text-align: center;
    }
}

.main-pic {
    width: 70%;
}

.title-location {
    margin-top: 40px;
}

.project-card {
    cursor: pointer;
}

.colored-section {
    background-color: #F5F5F5;
    /* background-color: rgb(137, 177, 75, 0.4); */
}

.tags {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.tags li {
    float: left;
}

.tag {
    background-color: #474486;
    border-radius: 15px 5px 5px 15px;
    color: white;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 15px 10px 0 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
}

.tag::before {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
}

.mobile-parallax.parallax-container {
    height: 300px;
}

.mobile-parallax .parallax-img {
    width: 180%;
}

.screen-parallax.parallax-container {
    height: 500px;
}

.screen-parallax .parallax-img {
    width: 100%;
}

.ref {
    height: 200px;
}

.ref img {
    width: 100%;
    max-width: 250px;
}

footer {
    background-color: #474486!important;
}

.footer-copyright {
    background-color: #282467!important;
}

footer .link-icon {
    width: 24px;
    margin-right: 15px;
    position: relative;
    top: 5px;
}

/********************
 * ALL PROJECTS
 *******************/

.all-projects-button {
    margin-top: 50px;
    margin-bottom: 50px;
}

/********************
 * SKILL SECTION
 *******************/

#skills-section {
    min-height: 700px;
}

.skill-header-title {
    margin-bottom: 60px;
}

.skill-text-col {
    padding-left: 20px!important;
    padding-right: 20px!important;
    margin-bottom: 40px;
}

.skill-text {
    line-height: 35px;
}

.skill-title {
    margin-bottom: 35px;
    font-weight: bold;
}

/********************
 * HELPERS
 *******************/

.bold-text {
    font-weight: bold;
}

.spaced-text {
    line-height: 35px;
}

hr.rule {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
    width: 30%;
    min-width: 200px;
}

/********************
 * PORTFOLIO SPECIFIC
 *******************/

#projects-list .col {
    margin-left: initial;
}

.filters {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.filters li {
    float: left;
    padding-bottom: 10px;
}

.filter {
    background-color: #474486;
    color: white;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 0 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
}

.filter-selected {
    background-color: green;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex .card {
    height: 94.5%;
}

.card .card-content .card-title {
    color: #474486;
    font-weight: bold;
}

.needpopup {
    padding: 0;
    overflow: hidden;
    padding: 20px;
}

.popup-img-container {
    overflow: hidden;
}

.popup-img-container img {
    width: 100%;
}

.needpopup .needpopup_remover {
    font-size: 50px;
    color: #7d7d7d;
}

.card-overlay{
    position: absolute;
    top: 0px;
    background-color: white;
    height: 100%;
    width: 100%;
}

.card:hover .card-overlay{
    opacity:0!important;
}